.accordion-simple > .active {
  display: block;
}

.accordionFaq .inactive {
  display: none;
}
.accordionFaq > div {
  background-color: white;
  margin-bottom: 20px;
  padding: 0px 15px;
  border-radius: 5px;
}
.accordionFaq {
  margin: 4px;
  padding-bottom: 30px;
}
.accordionFaqHeading {
  display: flex;
}
.button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
  color: blue;
  background-color: blueviolet;
}
