.modalPage {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: white;
}

.btnClose {
  margin: 1rem 1rem 0 0;
  align-self: flex-end;
  color: var(--main-color);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(176, 176, 176);
  cursor: pointer;
}

.btnClose:hover {
  background-color: var(--secondary-color);
}

.closeIcn {
  height: 1rem;
  width: 1rem;
}

@media screen and (min-width: 1024px) {
  /* .modalPage {
    padding: 2rem 1.5rem;
  } */
}
