.empty {
  width: 100%;
  height: 20dvh;
}

.nav {
  width: 100dvw;
  height: 20dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.nav > div {
  height: 100%;
  display: flex;
  align-items: center;
  flex: 1;
}

.nav > div img {
  height: 80%;
}

.show, .hide {
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  margin-right: 2rem;
}

.nav ul li {
  height: 100%;
  display: flex;
  align-items: center;
}

.link {
  height: 40%;
  display: flex;
  align-items: center;
  color: var(--main-color-dark);
  font-family: var(--action-font);
  font-size: xx-large;
  font-weight: 600;
  position: relative;
  text-decoration: none;
}

.nav ul li button {
  height: 40%;
  background-color: transparent;
  cursor: pointer;
}

.nav ul li button img {
  height: 100%;
}

.active::after {
  content: "";
  width: 100%;
  height: 10%;
  border-radius: 20px;
  background-color: var(--main-color-dark);
  position: absolute;
  bottom: 0;
  transition: ease-in 1s;
}

.burgerIconClose {
  display: none;
  background-color: transparent;
  color: white;
  align-self: flex-end;
  margin-right: 5%;
  margin-top: 20%;
  font-size: 2rem;
  font-family: var(--action-font);
}

.burgerIconOpen {
  display: none;
  background-color: transparent;
  color: var(--main-color-dark);
  height: 100%;
  width: 20%;
}

@media screen and (max-width: 1200px) {
  .show {
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 150px;
    width: 300px;
    height: 100vh;
    background-color: var(--main-color-dark);
    color: white;
  }

  .hide {
    display: none;
  }

  .link {
    color: white;
  }

  .active::after {
    background-color: white;
    height: 40%;
    bottom: -20px;
  }

  .burgerIconClose {
    display: inline;
  }

  .burgerIconOpen {
    display: inline;
  }

  .burgerIconOpen img {
    height: 50px;
  }

  .nav ul li button img {
   background-color: rgb(219, 245, 255);
   border-radius: 50%;
   height: 20%;
  }
}
