.page {
  width: 100dvw;
  height: 100dvh;
  margin: 0 2rem;
  color: var(--main-color-dark);
}
.empty {
  width: 100%;
  height: 20%;
}
.content {
  width: 100%;
  height: 80%;
  overflow: auto;
}
.page h2 {
  font-family: var(--action-font);
  font-size: xx-large;
  margin: 2rem 0;
}
.cardForm {
  width: 40%;
}
.formGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.formGrid > div {
  display: flex;
  flex-direction: column;
}
.form input,
.form select {
  background-color: var(--quad-color);
  margin: 0 0.5rem 0 0;
  padding: 1rem;
  border-radius: 10px;
}
.button {
  background-color: var(--secondary-color);
  color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
}
