* {
    /* --- reset --- */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    /* --- colors --- */
    --main-color: #00ACB0;
    --main-color-dark: #002743;
    --secondary-color: #FFCC38;
    --tertiary-color: #E6334C;
    /* --- fonts --- */
    --main-font: 'Inter', sans-serif;
    --action-font: 'Asap Condensed', sans-serif;
}

body {
    font-family: var(--main-font);
}

.App {
  background-position: right;
  background-repeat: no-repeat;
  background-size: 40%;
}
